.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
  color: black;
}
.dank_description {
  background-image: radial-gradient(circle, #f474f9, #c699ff, #9db3ff, #89c5ff, #94d2fc, #88d9f9, #82dff3, #84e4e9, #51e9da, #29ecbc, #3eeb90, #6ae856);
  padding: 40px;
  color: white;
  font-size: 40pt;
}
